
/*fonts*/
@import url(https://fonts.googleapis.com/css?family=Lato);


/*global*/
.navbar-default .navbar-nav > .active > a {
    background-color: #fff;
}
.navbar-default .navbar-nav > li:hover> a, .navbar-default .navbar-nav > .active:hover > a {
    background-color: #fff;
    transition: 0.3s;
    padding: 9px;
}

.navbar-default .social-list > li:hover> a {
    color: #ffb424;
    background: none;

}
.navbar-header{
    background: green;
    overflow: hidden;
    text-overflow: inherit;
    height: 20px;
}
.connexion{
    text-align: right; 
    display: inline-flex;
    justify-content: center; 
    align-items: center; 
     right: 2px; 
     font-size: 3rem;    
     letter-spacing: 0.4rem;
     font-weight: bolder;
     color: black;
/*     position: absolute;*/
}
.navbar-right{
    height: 3rem;
}
.navbar-right{
    display: inline-flex ;
    justify-content: space-around ;
    align-items: center;

}
.navbar-right li{
    list-style: none;
    padding: 5px;
    margin: 2px 3px;

}
.navbar-right li a{
    text-decoration: none;
     font-size: 1.2rem;    
     letter-spacing: 0.2rem;
     font-weight: bold;
     text-shadow: 1px 1px 1px blue;
}
.navbar-right li .hoe:hover{
 
    position: relative;
    background: transparent;
    padding: 3px;
}
h2 {
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 0.7rem;
}
/*global end*/

/*header navbar*/
nav.navbar {
    background: #fff;
    font-family: 'Lato', serif;
    font-size: 1.2rem;
    letter-spacing: 0.4rem;
}
.scroll-down {
    margin-top: 3%;
}

/*social list*/
.social-list {
    margin: 7px 25px;
}
.social-list li {
    margin: 0 6px;
}
.social-list li a {
    border: 1px solid black;
    transform: rotate(45deg);
    padding: 2px 4px;
    display: block;
    width: 33px;
    height: 33px;
}
.social-list li:hover i {
    color: #ffb424;
}
.fa-linkedin{
    padding-left: 1px;
}
.fa-facebook{
    padding: 3px 0 0 3px;
}
.social-list li i {
    transform: rotate(-45deg);
    vertical-align: baseline;
}
/*social list end*/

/*banner*/
header .banner {
    background: url("http://i1378.photobucket.com/albums/ah89/andreykokhanevich/portfolio%20page/header1-background_zpsdlk7p04z.jpg") 70% no-repeat;
    background-position: top;
    background-size: 100%;
    height: 55%;
    position: relative;
    z-index: -10; Angular, React etc. I want to learn more and utilize my ski
}
.banner-content {
    color: green;
    font-family: "Lato", serif;
    text-align: right;
    text-transform: uppercase;
    margin-top: 17%;
    font-weight: bolder;
    letter-spacing: 0.4rem;
         text-shadow: 1px 1px 1px 2px #fff;

}
.banner-content h1:hover{
    padding: 3px;
    position: relative;
    transition: 0.3s ;
}
.banner-content h1 {
    font-size: 5rem;
    font-weight: bold;
}
.banner-content h3 {
    font-size: 3rem;
    margin: 5% 0;
    color: #eeeeee;
    font-weight: bold;
}
/*banner end*/
/*header end*/

/*about*/
.about {
    background: #eee;
}
.about-content {
    margin-top: 7%;
    font-family: "Lato", serif;
    padding: 5px;
    margin-bottom: 3rem;
}
.about-content h2 {
    margin: 5%;
}
.about-text {
    font-size: 2rem;
    line-height: 2;
    margin: 5% 0 7%;
}
/*about end*/

/*works*/
.block {
    box-shadow: 4px 4px 7px #333;
    overflow: hidden;
    position: relative;
    margin-bottom: 10%;
}
.works {
    padding-bottom: 3%;
    background: #fff;
}
.works-thumb {
    height: 300px;
}
#work-1 {
    background: url("https://www.google.com/imgres?imgurl=https%3A%2F%2Flasanteauquotidien.com%2Fwp-content%2Fuploads%2F2022%2F12%2Fpharmacie-penurie-doliprane-768x510.jpg&imgrefurl=https%3A%2F%2Flasanteauquotidien.com%2Factualite-sante%2Fpharmacie-pourquoi-manque-t-on-toujours-de-doliprane%2F&tbnid=PdXjYEfiLlO2BM&vet=10CIgBEDMojAJqFwoTCPjn7dbdhfwCFQAAAAAdAAAAABAE..i&docid=4Fm4_DEaZW0N0M&w=768&h=510&itg=1&q=sant%C3%A9%20pharmacie&ved=0CIgBEDMojAJqFwoTCPjn7dbdhfwCFQAAAAAdAAAAABAE") no-repeat 100%;
    background-size: cover;
}
#work-2 {
    background: url("https://www.google.com/imgres?imgurl=https%3A%2F%2Fi1.wp.com%2Fliiquotidien.com%2Fwp-content%2Fuploads%2F2022%2F03%2Fpharmacie-960x640-1.jpeg%3Ffit%3D960%252C640%26ssl%3D1&imgrefurl=https%3A%2F%2Fliiquotidien.com%2Fgrande-pharmacie-dakaroise-la-decision-surprenante-du-ministre-de-la-sante%2F&tbnid=DXDihbapXOcEuM&vet=10CAMQMyjRAWoXChMI-Oft1t2F_AIVAAAAAB0AAAAAEAQ..i&docid=taf3UVbYvlOrfM&w=960&h=640&q=sant%C3%A9%20pharmacie&ved=0CAMQMyjRAWoXChMI-Oft1t2F_AIVAAAAAB0AAAAAEAQ") no-repeat 100%;
    background-size: cover;
}
#work-3 {
    background: url("https://www.google.com/imgres?imgurl=https%3A%2F%2Fkdsante.com%2Fwp-content%2Fuploads%2F2022%2F03%2Fpharmacie-en-ligne.jpg&imgrefurl=https%3A%2F%2Fkdsante.com%2Fpharmacie-internet%2F&tbnid=-8xuTTMdJquBNM&vet=10CDQQMyh-ahcKEwj45-3W3YX8AhUAAAAAHQAAAAAQAw..i&docid=I_wwqboVTU_lDM&w=1920&h=955&q=sant%C3%A9%20pharmacie&ved=0CDQQMyh-ahcKEwj45-3W3YX8AhUAAAAAHQAAAAAQAw") no-repeat 100%;
    background-size: cover;
}
#work-4 {
    background: url("https://www.google.com/imgres?imgurl=https%3A%2F%2Fwww.innovasso.fr%2Fwp-content%2Fuploads%2Fsites%2F4%2F2019%2F04%2Fdossier-avril-sante-connectee-pharmacie.jpg&imgrefurl=https%3A%2F%2Fwww.innovasso.fr%2Fdossier%2Fsante-connectee-la-pharmacie-a-la-croisee-des-chemins%2F&tbnid=_uodo199tbUIgM&vet=12ahUKEwjnoJbU3YX8AhUKTRoKHf0lDDYQMyhgegUIARCzAQ..i&docid=jkFuYYUYcc0V9M&w=825&h=300&q=sant%C3%A9%20pharmacie&ved=2ahUKEwjnoJbU3YX8AhUKTRoKHf0lDDYQMyhgegUIARCzAQ") no-repeat 100%;
    background-size: cover;
}
#work-5 {
    background: url("https://www.google.com/imgres?imgurl=https%3A%2F%2Fforem.ci%2Fwp-content%2Fuploads%2F2020%2F01%2Fimg_5082.jpg&imgrefurl=https%3A%2F%2Fforem.ci%2Fle-metier-de-pharmacien%2F&tbnid=8w3WJRjaAI88fM&vet=12ahUKEwjnoJbU3YX8AhUKTRoKHf0lDDYQMyg8egQIARBf..i&docid=uXr8YVYYr629rM&w=750&h=450&q=sant%C3%A9%20pharmacie&ved=2ahUKEwjnoJbU3YX8AhUKTRoKHf0lDDYQMyg8egQIARBf") no-repeat 100%;
    background-size: cover;
}
#work-6 {
    background: url("https://www.google.com/imgres?imgurl=https%3A%2F%2Fwww.corse.ars.sante.fr%2Fsites%2Fdefault%2Ffiles%2F2017-01%2Fpharmacie.png&imgrefurl=https%3A%2F%2Fwww.corse.ars.sante.fr%2Factivite-de-vaccination-par-le-pharmacien-dofficine-en-corse&tbnid=hHvKJy1S6cyLwM&vet=12ahUKEwjnoJbU3YX8AhUKTRoKHf0lDDYQMygwegUIARCwAg..i&docid=fHUm6SXwWC0mQM&w=1138&h=1280&q=sant%C3%A9%20pharmacie&ved=2ahUKEwjnoJbU3YX8AhUKTRoKHf0lDDYQMygwegUIARCwAg") no-repeat 100%;
    background-size: cover;
}
.block::after, .block::before {
    content: '';
    background: rgba(0,0,0,0.6);
    position: absolute;
    display: block;
    width: 50%;
    height: 100%;
    top: 0;
    overflow: hidden;
}
.block::after {
    left: -50%;
    transition: 0.5s;
}
.block::before {
    right: -50%;
    transition: 0.5s;
}
.block:hover:after {
    left: 0;
}
.block:hover:before {
    right: 0;
}
.works-caption {
    text-align: center;
    font-family: "Lato", serif;
    font-size: 2rem;
    letter-spacing: 0.4rem;
    position: absolute;
    border-radius: 10px;
    display: block;
    padding: 15px 2px;
    width: 60%;
    left: 20%;
    top:-40%;
    z-index: 1;
    color: #fff;
    border: 2px solid #fff;
    transition: top 0.5s;
}
.block:hover .works-caption {
    top: 33%;
}
.works h2 {
    margin: 7% 0;
}
/*works end*/

/*skillls*/
.skills {
    background: #333;
    text-align: center;
}
.skills h2 {
    margin: 7%;
    color: #fff;
}
.skills .skills-thumb {
   margin-bottom: 5%;
}
/*skills end*/

/*social list main*/
.social-footer {
    background: #fff;
}
.social-footer h2 {
    margin: 5% 0 3%;
}
.social-footer .social-list {
    display: inline-block;
    padding: 0;
    margin-bottom: 5%;
}
.social-footer .social-list li a{
    display: block;
    position: relative;
    border: 2px solid #444;
    transform: rotate(45deg);
    width: 60px;
    height: 60px;
}
.social-footer .social-list li {
    display: inline-block;
    list-style: none;
    margin-left: 15px;
}
.social-footer .social-list li a i {
    margin-top: 5px;
    color: #444
}
.social-footer .social-list li:hover i {
    color: #ffb424;
}
.social-footer .social-list .fa-facebook {
    padding: 2px 0 0 0;
}

/*footer*/
footer {
    background: url("https://www.google.com/imgres?imgurl=https%3A%2F%2Fcdn-s-www.ledauphine.com%2Fimages%2F0BBACB84-9EAB-4B27-AD7A-85D3F388BA6C%2FNW_raw%2Fen-france-la-biopsie-transperineale-n-a-pas-encore-beaucoup-de-succes-illustration-adobe-stock-1613569485.jpg&imgrefurl=https%3A%2F%2Fwww.ledauphine.com%2Fmagazine-sante%2F2021%2F02%2F18%2Fprostate-une-biopsie-indolore-et-innovante&tbnid=NiydRgWVQGjvlM&vet=12ahUKEwjI1KWs3YX8AhUOSRoKHbOaA2QQMygTegQIARBs..i&docid=PGDNBb2V8Ge9lM&w=1600&h=1068&q=sant%C3%A9%20wallpaper%20insolite&ved=2ahUKEwjI1KWs3YX8AhUOSRoKHbOaA2QQMygTegQIARBs");
    background-size: cover;
    color: #fff;
}
footer h2 {
    margin-top: 7%;
}
.contact { 
    margin: 5% 0;
}
.contacts-data {
    margin: 3% 7%;
}
.contacts-data .btn {
    background: transparent;
    padding: 15px 20px;
    color: #fff;
    text-transform: uppercase;
    margin-top: 7%;
}
.contacts-data .btn:hover {
    background: #ffb424;
    color: #fff;
}
.contact .button-icon {
    padding-left: 10px;
}
.contact-text {
    font-family: "Lato", serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.33rem;
    padding-left: 7%;
}
/*footer end*/

/* media queries */
@media screen and (min-width: 991px) {
    header .banner {
        background-position: center;
    }
}
@media screen and (max-width: 990px) {
    header .banner-content {
        text-align: center;
    }
    .scroll-down {
        display: none;
    }
    .contacts-data {
        text-align: center;
    }
    .about {
        background: #ccc;
    }
    .bar{
        width: 60vw;
        justify-content: center;
        border: 3px solid white;
    }
    .flex{
        margin-top: 7%;
        font-family: "Lato", serif;
        padding: 10px;
        display: block;
        margin-bottom: 3rem;
        background: green;
    }
}
@media screen and (max-width: 767px) {
    header .banner-content h1 {
        font-size: 4rem;
    }
    header .banner-content h3 {
        font-size: 2.5rem;
    }
    header .social-list {
        display: none;
    }
    .block {
        width: 65%;
        margin: 20px auto;
    }
    .skills img {
        width: 65%;
    }
    .connexion{
    text-align: right; 
     right: 2px; 
     font-size: 1rem;
     margin-left: 2rem;    
    }
    .navbar-right{
    display: flex ;
    justify-content: space-around ;
    align-items: center;
    text-align: left;
    left: 2px;

    }
    .card-body{
        display: block;
        font-size: 20px;
        font-size: 14px;
        width: 65%;
    }
    .about {
        background: #ccc;
    }
    .flex {
        margin-top: 7%;
        font-family: "Lato", serif;
        padding: 5px;
        display: block;
        margin-bottom: 2rem;
        background: greenyellow;
    }

}
@media screen and (max-width: 491px) {
    header .banner-content h1 {
        font-size: 2.5rem;
    }
    header .banner-content h3 {
        font-size: 1.5rem;
    }
    .connexion{
    text-align: right; 
     right: 2px; 
     font-size: 0.5rem;
     margin-left: 2rem;    
    }
    .navbar-right{
    display: grid ;    
    font-size: 0.5rem;   
    }
    .flex{
        display: block;
        font-size: 14px;
        width: 65%;
        
    }
}



@media (min-width: 768px)
.container {
    width: 750px;
    min-width: -webkit-fill-available;
}